<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
</head>

<body>
    <div class="mainCont">
        <div class="welcome">
            {{>svg}}
        </div>
        <div class="logo">
            <i id="companyLogo" style="transform: scale(3);" class="fas fa-graduation-cap"></i>
        </div>
        <div class="companyDetails">
            <h3 class="companyName">Your Company</h3>
            <p class="tagline">your tagline here</p>
        </div>
        <div class="formCont">
            <form action="">
                <input type="button" value="Sign in" class="signIn">
                <input type="button" value="Sign up" class="signUp">
            </form>
        </div>
        <div class="socialMediaIcons">
            <p>Follw us on socialmedia</p>
            <div class="twitter">
                <i class="fab fa-twitter-square"></i>
            </div>
            <div class="facebook">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="linkedin">
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>
</body>

</html>