<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" href="css/loginIcon.png" type="image/gif" sizes="25x25">
    <script src="js/login.js"></script>
</head>

<body>
    {{>loginBody}}
</body>
<script>
    function homeLocation() {
        window.location.href = "http://localhost:8000/"
    }
</script>

</html>