<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/register.css">
</head>

<body>
    <div class="mainCont">
        <div class="waveCont">
            <div id="wave"></div>
        </div>
        <div class="msg">
            <h3>Create Your <br> Account</h3>
        </div>
        <form class="formCont" action="">

            <div class="fullname">
                <input type="text" name="Fullname" id="fullname" placeholder="Fullname">
                <i id="icon" class="far fa-user"></i>
            </div>
            <div class="email">
                <input type="text" name="" id="email" placeholder="Email">
                <i id="icon" class="far fa-envelope-open"></i>
            </div>
            <div class="pwd">
                <input type="password" name="" id="pwd" placeholder="Password">
                <i id="icon" class="fas fa-unlock-alt"></i>
            </div>
            <div class="cpwd">
                <input type="password" name="" id="cpwd" placeholder="Confirm Password">
                <i id="icon" class="fas fa-unlock-alt"></i>
            </div>
        </form>
        <div class="signup">
            <input id="signup" type="button" value="Sign Up">
        </div>
        <div class="footer">
            <i id="logoFooter" class="far fa-arrow-alt-circle-right"></i>
            <div class="user">
                <p>Already have an account ?</p>
                <a href="#">Sign in </a>
            </div>
        </div>
    </div>
</body>

</html>