<!DOCTYPE html>
<html lang="en">

<head>
    {{>links}}
    <link rel="stylesheet" href="css/welcomePage.css">
    <script src="js/welcomePage.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        {{!-- logo --}}
        <div class="navbar__logo">
            <div class="logo">
                <h4>Munsif.</h4>
            </div>
        </div>
        {{!-- navBar items --}}
        <div class="menuItems">
            <ul>
                <a href="#home">
                    <li>Home</li>
                </a>
                <a href="#Projects">
                    <li>Projects</li>
                </a>
                <a href="#aboutme">
                    <li>About Me</li>
                </a>
                <a href="#contect">
                    <li>Contect</li>
                </a>
                <a id="logout" href="#logout">
                    <li>Logout</li>
                </a>
            </ul>
        </div>
    </div>
    <div class="mainBody">
        <div class="body__left">
            <div class="bodyLeft__quote">
                <p> APPINO provides amazing and outstanding features</p>
            </div>
            <div class="bodyLeft__heading">
                <p>AWESOME MERN STACK</p>
            </div>
            <div class="bodyLeft__downloadable">
                <p>free download here</p>
                <div class="bodyLeft__icons">
                    <a class="icon__mongodb" href="#">
                        {{!-- <img src="css/nodejs.jpg" alt="nodejs"> --}}
                        <i title="Download mongoDB" class="fab fa-envira icon mongoo"></i>
                    </a>
                    <a class="icon__nodejs" href="#">
                        {{!-- <img src="css/mongodb.png" alt="nodejs"> --}}
                        <i title="Download Nodejs" class="fab fa-js icon js"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="body__right">
            {{>welcome__svg}}
        </div>
    </div>
    <div id="Projects" class="myProjects">
        <h1 class="project__heading">My Projects</h1>
        <div class="projects">
            <div class="covid19 projectName">
                <div class="covid__details project__details">
                    <h1>Project Details </h1>
                    <p>Used JAVASCRIPT fetch method to get the realtime coronavirus cases around the world you just hav
                        to input your country name and get no. of differenrt covid cases .</p>
                    <h3>Technologies used :-</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                    </ul>
                </div>
                <div class="covid_img project__img">
                    <img style="width: 250px;" src="css/covidPic.png" alt="" srcset="">
                </div>
            </div>
            <div class="foodNutrition projectName">
                <div class="foodNutrition__details project__details">
                    <h1>Food Nutrition </h1>
                    <p>Used an API and done with JAVASCRIPT fetch method to convert Currency </p>
                    <h3>Technologies used :-</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JAVASCRIPT</li>
                    </ul>
                </div>
                <div class="foodNutrition_img project__img">
                    <img style="width: 250px;" src="css/foodNutri.PNG" alt="foodNutritionPic" srcset="">
                </div>
            </div>
            <div class="currencyConvertor projectName">
                <div class="currencyConvertor__details project__details">
                    <h1>Currency Convertor </h1>
                    <p>used Nodejs fetch method to get nutritions about user given food.</p>
                    <h3>Technologies used :-</h3>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>NODEJS</li>
                    </ul>
                </div>
                <div class="currencyConvertor project__img">
                    <img style="width: 250px;" src="css/currencyConvertor.PNG" alt="" srcset="">
                </div>
            </div>
            <div class="weatherApp projectName">
                <div class="weatherApp__details project__details">
                    <p>gives your current weather details</p>
                </div>
                <div class="weatherApp_img project__img">
                    <img src="css/nodejs.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="weatherApp projectName">
                <div class="weatherApp__details project__details">
                    <p>gives your current weather details</p>
                </div>
                <div class="weatherApp_img project__img">
                    <img src="css/nodejs.jpg" alt="" srcset="">
                </div>
            </div>
            <div class="weatherApp projectName">
                <div class="weatherApp__details project__details">
                    <p>gives your current weather details</p>
                </div>
                <div class="weatherApp_img project__img">
                    <img src="css/nodejs.jpg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
    <div class="about__me" id="aboutme">
        <div class="left__section">
            <img src="css/pricture_aboutMe.jpg" alt="mypic" srcset="">
        </div>
        <div class="right__section">
            <div class="aboutme__heading">
                <h3>MUNSIF ALI MISRI</h3>
            </div>
            <div class="aboutme__paragraph">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum
                    interdum, nisi lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula
                        venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus
                        vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In
                        at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida
                        venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                        porta.</span></p>

                <button onclick="myFunction()" id="myBtn">Read more...</button>
            </div>
            {{!-- <div class="aboutme__moreInfo">
                <button>Read More</button>
            </div> --}}
        </div>
    </div>
    <div class="contectUs" id="contect">
        <div class="dataCont">
            <div class="dataItemsLeft">
                <div class="itemsLeft">
                    <span class="con">contect </span>
                    <span class="us">Us</span>
                </div>
                <div class="contectInfo">
                    <span class="conInfo">Contect Info : 0313-XXXXXXXX </span>
                </div>
            </div>
            <div class="dataItemsRight">
                <div class="formCont">
                    <form action="">
                        <div class="input1">
                            <input type="text" name="" id="">
                        </div>
                        <div class="input2">
                            <input type="text" name="" id="">
                        </div>
                        <div class="input3">
                            <input type="text" name="" id="">
                        </div>
                        <div class="input4">
                            <input type="text" name="" id="">
                        </div>
                        <div class="buttons">
                            <input type="submit" value="Send">
                            <input type="button" value="Cancel">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="logo">
            <h4>MUNSIF.</h4>
        </div>
        <div class="copyright">
            <ul>
                <li>
                    <p>Allrights reserved © 2020</p>
                </li>
                <li>
                    <p>Munsif Ali Misri</p>
                </li>
            </ul>
        </div>
    </div>
</body>
<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>

</html>