<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcomePage.css">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        {{!-- logo --}}
        <div class="navbar__logo">
            <div class="logo">
                <p>Munsif</p>
            </div>
        </div>
        {{!-- navBar items --}}
        <div class="menuItems">
            <ul>
                <li>Home</li>
                <li>Gallery</li>
                <li>About Me</li>
                <li>Contect</li>
                <li>Logout</li>
            </ul>
        </div>
    </div>
</body>

</html>