* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Sansita Swashed', cursive;
}

::placeholder {
    color: black;
    font-size: 15px;
}

body {
    min-height: 100vh;
    background: linear-gradient(330deg, rgb(0, 125, 255), rgb(30, 40, 81));
}

.mainCont {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    background: white;
    box-shadow: -3px -3px 30px 0px rgba(255, 255, 255, 0.75);
    /* background: linear-gradient(330deg, rgb(0, 125, 255), rgb(72, 74, 168)); */
}

.waveOne {
    position: relative;
    height: 30%;
    width: 100%;
    overflow: hidden;
}

.waveOne h3 {
    position: absolute;
    top: 12%;
    left: 8%;
    font-size: 22px;
    font-weight: lighter;
    word-spacing: 1px;
    letter-spacing: 2px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 90%;
}

.fullname,
.email,
.pwd,
.cpwd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

.email input,
.pwd input {
    font-size: 12px;
    height: 50%;
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    text-align: inherit;
    max-width: 90%;
    color: black;
}

#icon {
    position: absolute;
    margin-right: -77%;
    margin-top: 0;
    transform: scale(1.2);
    opacity: 0.7;
    z-index: 66;
    color: black;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
}

.login #login {
    height: 60%;
    width: 35%;
    border-radius: 15px;
    outline: none;
    background: linear-gradient(100deg, rgb(79, 67, 247), rgb(12, 223, 255));
    border: none;
    margin-left: 0%;
    text-align: center;
    letter-spacing: 1px;
}

#login:hover {
    transition: 1s ease-in-out;
    background-color: white;
    box-shadow: 0px 9px 8px 0px rgba(0, 43, 43, 0.356);
    background: linear-gradient(100deg, rgb(106, 106, 107), rgb(12, 223, 255));
}


.login a {
    color: black;
    font-weight: lighter;
    font-size: 12px;
}

.footer {
    position: absolute;
    bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer #logoFooter {
    margin-left: 10%;
    transform: scale(2);
    color: rgb(20, 20, 20);
}

.user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0 auto;
    margin-right: 10%;
}

.user p,
a {
    font-size: 12px;
    color: rgb(20, 20, 20)
}

.waveTwo {
    position: absolute;
    height: 40%;
    width: 100%;
    z-index: -998;
    /* top: 76%; */
    bottom: -14%;
    left: -30%;
    overflow: hidden;
    clip-path: circle(45% at 50% 50%);
    background: linear-gradient(100deg, rgba(79, 67, 247, 0.226), rgba(12, 223, 255, 0.288));

}

.waveThree {
    position: absolute;
    height: 40%;
    width: 100%;
    z-index: -998;
    /* top: 76%; */
    bottom: -18%;
    left: -10%;
    overflow: hidden;
    clip-path: circle(45% at 50% 50%);
    background: linear-gradient(100deg, rgba(79, 67, 247, 0.226), rgba(12, 223, 255, 0.288));

}

.waveFour {
    position: absolute;
    height: 40%;
    width: 100%;
    z-index: -998;
    /* top: 76%; */
    bottom: -22%;
    left: 10%;
    overflow: hidden;
    clip-path: circle(45% at 50% 50%);
    background: linear-gradient(100deg, rgba(79, 67, 247, 0.226), rgba(12, 223, 255, 0.288));

}

.waveFive {
    position: absolute;
    height: 40%;
    width: 100%;
    z-index: -998;
    /* top: 76%; */
    bottom: -26%;
    left: 30%;
    overflow: hidden;
    clip-path: circle(45% at 50% 50%);
    background: linear-gradient(100deg, rgba(79, 67, 247, 0.226), rgba(12, 223, 255, 0.288));

}

@media screen and (min-width:460px) {
    #icon {
        margin-top: -1.5%;
    }
}